h1 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

body {
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

header {
    background-color: #ffcc00;
    padding: 10px 0;
    text-align: center;
}

.main p.description,
.content p.description,
.box p.description {
    font-size: 2.0em;
    margin: 20px;
    text-align: center;
}

.box p.gujarati-text {
    font-size: 1.5em;
}

footer {
    background-color: #ffcc00;
    text-align: center;
    padding: 3px;
    margin-top: 100px;
}

footer p {
    margin: 0;
}

header nav {
    display: inline-block;
}

header nav a {
    color: #333;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.column {
    float: left;
    width: 50%; 
    padding: 5px;
    box-sizing: border-box;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #f9f9f9; 
}

.box img {
    width: 100%;
    height: auto;
}

.box p {
    margin-top: 10px;
}
